[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pybind11 = "*"
wheel = "*"
pytest = "*"

[packages]
lxml = "*"
antlr4-python3-runtime = "*"

[requires]
python_version = "3.7"
